.container_img {
  display: flex;
  position: absolute;
  background-image: url("../../media/homeimg2.webp");
  width: 1060px;
  height: 500px;
  margin-top: 10px;
  margin-left: 180px;
  flex-direction: column;
  background-size: cover; 
}

.lablestyle {
  display: flex;
  font-size: 5rem;
  color: white;
  margin-top: 50px;
  text-align: center;
  margin-left: 270px;
  position: relative; 
}

.quote {
  display: flex;
  background-color: white;
  height: 300px;
  width: 300px;
  margin-left: 400px;
  margin-top: 50px;
  flex-direction: column;
  border-radius: 10px; 
}

.quote:hover {
  width: 310px;
  height: 260px;
  border: 2px solid #a8adad;
  background-color: rgba(252, 246, 246, 0.911); 
}

.quote_img_div {
  display: flex;
  margin-top: 20px;
  justify-content: center;
  flex-wrap: wrap; 
}

.quote_img {
  display: flex;
  width: 100px;
  height: 100px; 
}

.quote_words {
  display: flex;
  margin-top: 10px;
  justify-content: center;
  font-size: large; 
}

.quote_button {
  display: flex;
  padding: 9px 15px;
  background-color: #3898ec;
  color: #fff;
  border: 1px;
  text-decoration: none;
  cursor: pointer;
  border-radius: 10px;
  margin-left: 85px;
  width: 80px;
  height: 15px; 
  margin-top: -15px;
}

.quote_button:hover {
  background-color: #fff;
  color: #3898ec;
  border-color: #3898ec;
  border-style: solid; 
}

.get_quote_button {
  text-align: center;
  margin-left: 10px; 
}