.container_contact {
    display: flex;
    flex-direction: row;
    background-color: #7bb5e9;
    margin-left: 0px;
    padding-bottom: 30px;
    margin-top: 20px;
    margin-left: 180px;
    width: 1060px; 
  }

  
  
  
